<div class="container-fluid container-md d-flex justify-content-center mx-auto pb-3 pb-md-5">
  <div class="px-3 py-4 w-100 bg-white shadow-lg rounded-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-center mb-1 mb-md-4">RSVP</h1>

      <h2 class="text-center mb-3 mb-md-4 ff-open-sans fw-light">Please let us know if you can join us by</h2>
      <h2 class="text-center mb-4 mb-md-5 ff-open-sans fw-light">15th of October 2022</h2>

      <h2 class="text-center mb-2 ff-open-sans fw-light">Phone</h2>
      <h2 class="text-center mb-4 mb-md-5 ff-open-sans fw-light">0434247593</h2>

      <h2 class="text-center mb-2 ff-open-sans fw-light">Email</h2>
      <h2 class="text-center mb-2 ff-open-sans fw-light">amul2402@gmail.com</h2>

    </div>
  </div>
</div>
