<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container justify-content-between justify-content-lg-center">
    <a class="navbar-brand text-decoration-none d-inline-flex d-lg-none" [routerLink]="['/']">Alex & Nathan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menuTop" (click)="scrollToMenuTop()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between justify-content-lg-around" id="navbarNav">
      <!-- Mobile Navbar -->
      <div class="navbar-nav w-100 d-inline-flex d-lg-none">
        <a class="nav-link nav-link-hover w-100 text-lg-center d-inline-flex d-lg-none text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" #menuTop [routerLink]="['/']" routerLinkActive="active" >Home</a>

        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [routerLink]="['/', 'our-story']" routerLinkActive="active">Our Story</a> -->
        <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [routerLink]="['/', 'rsvp']" routerLinkActive="active">RSVP</a>
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [routerLink]="['/', 'information']" routerLinkActive="active">Information</a> -->

        <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [routerLink]="['/', 'directions']" routerLinkActive="active">Directions</a>
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [routerLink]="['/', 'registry']" routerLinkActive="active">Registry</a> -->
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" [routerLink]="['/', 'gallery']" routerLinkActive="active">Gallery</a> -->
      </div>
      <!-- Mobile Navbar -->

      <!-- Large Navbar -->
      <div class="navbar-nav w-100 d-none d-lg-inline-flex ">
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" [routerLink]="['/', 'our-story']" routerLinkActive="active">Our Story</a> -->
        <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" [routerLink]="['/', 'rsvp']" routerLinkActive="active">RSVP</a>
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" [routerLink]="['/', 'information']" routerLinkActive="active">Information</a> -->

        <a class="navbar-brand text-decoration-none d-none d-lg-inline-flex mx-lg-4" [routerLink]="['/']">Alex & Nathan</a>

        <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" [routerLink]="['/', 'directions']" routerLinkActive="active">Directions</a>
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" [routerLink]="['/', 'registry']" routerLinkActive="active">Registry</a> -->
        <!-- <a class="nav-link nav-link-hover w-100 text-lg-center text-decoration-none" [routerLink]="['/', 'gallery']" routerLinkActive="active">Gallery</a> -->
      </div>
      <!-- Large Navbar -->

    </div>
  </div>
</nav>


<div *ngIf="displayNavbarSpacer()" class="navbar-spacer"></div>
