<div class="container-fluid container-md d-flex justify-content-center mx-auto pb-3 pb-md-5">
  <div class="px-3 py-4 w-100 bg-white shadow-lg rounded-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-center mb-1 mb-md-4">Directions</h1>
      <div class="row gx-md-5 justify-content-center w-100">
        <div class="col-12 col-md-auto order-last order-md-first">
          <app-map></app-map>
        </div>
        <div class="col-12 col-md">
          <h2 class="text-center ff-open-sans fw-light mb-3 mb-md-5 pb-md-3">
            Ruby's Mount Kembla Restaurant
          </h2>
          <h3 class="text-center ff-open-sans fw-light mb-2 mb-md-5">
            39 Harry Graham Dr
            <br/>
            Kembla Heights NSW 2526
            <br/>
            Australia
          </h3>
          <h3 class="text-center ff-open-sans fw-light mb-2 mb-md-5">
            26th of November 2022
          </h3>
          <h3 class="text-center ff-open-sans fw-light ">
            Guest Time of Arrival 3:30pm
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
