<section>
  <div class="row gy-3 gy-md-0">
    <div class="col-12 col-md-8">
      <div class="border">
        <div class="row row-cols-2">
          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-4">{{ characterName }}</p>
              <p class="fw-bold mb-0 fs-7">Character Name</p>
            </div>
          </div>

          <div class="col row row-cols-2 gx-1 ps-0 pe-2">
            <div class="col">
              <div class="d-flex flex-column h-100">
                <p class="border rounded-2 mb-0 fs-7">{{ className }}</p>
                <p class="fw-bold mb-0 fs-7">Class</p>
              </div>
            </div>

            <div class="col">
              <div class="d-flex flex-column h-100">
                <p class="border rounded-2 mb-0 fs-7">{{ subclassName }}</p>
                <p class="fw-bold mb-0 fs-7">Subclass</p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ playerName }}</p>
              <p class="fw-bold mb-0 fs-7">Player Name</p>
            </div>
          </div>

          <div class="col row row-cols-2 gx-1 ps-0 pe-2">
            <div class="col">
              <div class="d-flex flex-column h-100">
                <p class="border rounded-2 mb-0 fs-7">{{ raceName }}</p>
                <p class="fw-bold mb-0 fs-7">Race</p>
              </div>
            </div>

            <div class="col">
              <div class="d-flex flex-column h-100">
                <p class="border rounded-2 mb-0 fs-7">{{ alignmentName }}</p>
                <p class="fw-bold mb-0 fs-7">Alignment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="border">
        <div class="row row-cols-2 row-cols-sm-3 gy-1 gy-md-3">
          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ age }}</p>
              <p class="fw-bold mb-0 fs-7">Age</p>
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ eyes }}</p>
              <p class="fw-bold mb-0 fs-7">Eyes</p>
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ skin }}</p>
              <p class="fw-bold mb-0 fs-7">Skin</p>
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ weight }}</p>
              <p class="fw-bold mb-0 fs-7">Weight</p>
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ height }}</p>
              <p class="fw-bold mb-0 fs-7">Height</p>
            </div>
          </div>

          <div class="col">
            <div class="d-flex flex-column h-100">
              <p class="border rounded-2 mb-0 fs-7">{{ hair }}</p>
              <p class="fw-bold mb-0 fs-7">Hair</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
