<div *ngIf="apiLoaded | async" class="p-0 m-0">
  <google-map [center]="center" [zoom]="zoom">
    <map-marker
      *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
    ></map-marker>
    </google-map
  >
</div>
<!-- <div *ngIf="apiLoaded | async" class="d-block d-sm-none">
  <google-map [center]="center" [zoom]="zoom" [width]="400">
    <map-marker
      *ngFor="let markerPosition of markerPositions"
      [position]="markerPosition"
      [options]="markerOptions"
    ></map-marker>
    </google-map
  >
</div> -->
