<div class="container-fluid container-md d-flex justify-content-center mx-auto pb-3 pb-md-5">
  <div class="px-3 py-4 w-100 bg-white shadow-lg rounded-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-center mb-1 mb-md-4">Gifts</h1>
      <div class="row gx-md-5 justify-content-center w-100">
        <div class="col-12 col-md">
          <h2 class="text-center ff-open-sans fw-light mb-3 mb-md-5 pb-md-3">
            Something bought or made with heart<br/>
            Will always be a welcome part<br/>
            As our married lives do start<br/>
            Though as much as we both love your art<br/> 
            <br/>
            To minimise the clutteredness<br/>
            And help towards our house expense<br/>
            For your and our expedience<br/>
            A gift of cash would make most sense<br/>
          </h2>          
        </div>
      </div>
    </div>
  </div>
</div>
