//You can add global styles to this file, and also import other style files

@import "assets/scss/vendor/bootstrap/base"
@import "node_modules/include-media/dist/include-media"

.navbar-spacer
  margin-top: 3rem

@media (max-width: 575.98px)
  .navbar-spacer
    margin-top: 1rem

@font-face
  font-family: "WindSong", cursive
  src: url("https://www.alexandnathan.com/assets/fonts/WindSong/WindSong-Regular.ttf")

@font-face
  font-family: "WindSongBold", cursive
  src: url("https://www.alexandnathan.com/assets/fonts/WindSong/WindSong-Medium.ttf")

h1, h2
  font-family: 'WindSong', cursive

@font-face
  font-family: "TengwarBeleriand"
  src: url("https://www.alexandnathan.com/assets/fonts/tengwar-beleriand/Beleriand2008-10se07.ttf")

.tengwar
  font-family: TengwarBeleriand
  text-rendering: optimizeLegibility

.fs-0
  font-size: 0rem !important

// html
//   scroll-snap-type: y mandatory
//   scroll-behavior: smooth
//   scroll-padding: 3rem

// .scroll-snap-container
//   scroll-snap-align: start

.rounded-4
  border-radius: 1rem !important

.rounded-5
  border-radius: 2rem !important

.rounded-6
  border-radius: 3rem !important

.bg-gold
  // background-color: $gold

.bg-gold-gradient
  background: linear-gradient(to right, #BF953F, #B38728, #AA771C)

.bg-gold-gradient-floral
  // background: linear-gradient(to right, #BF953F, #B38728, #AA771C)
  background: url("assets/images/lotus-texture-transparent-opacity-50.png"), linear-gradient(to right, #BF953F, #B38728, #AA771C)
  background-size: contain
  background-position-y: 35rem

.bg-gold-gradient-floral-25
  // background: linear-gradient(to right, #BF953F, #B38728, #AA771C)
  background: url("assets/images/lotus-texture-transparent-opacity-25.png"), linear-gradient(to right, #BF953F, #B38728, #AA771C)
  background-size: contain

.border-gold
  border-color: $gold

.border-gradient
  border: 10px solid
  border-image-slice: 1
  border-width: 5px

.border-button-gold-gradient
  border-image-source: linear-gradient(to right, #BF953F, #B38728, #AA771C)

.bg-shadow-black
  background: #00000010

.gradient-box

  display: flex
  align-items: center
  //width: 50vw
  width: 90%
  margin: auto
  max-width: 22em

  position: relative
  padding: 30% 2em
  box-sizing: border-box

  $border: 5px
  color: #FFF
  background: #000
  background-clip: padding-box //!important
  border: solid $border transparent //!important
  border-radius: 1em

  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    margin: -$border //!important
    border-radius: inherit //!important
    background: linear-gradient(to right, red, orange)

.h-0
  height: 0

.h-1-rem
  height: 1rem

.shadow-black
  box-shadow: 0 1rem 3rem rgba(0,0,0,1) !important

.fs-7
  font-size: .9rem

.fs-8
  font-size: .8rem

.fs-9
  font-size: .75rem
